@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A simple task manager system (web based) using MVC<br />

Prgramming Language: C#<br />

Database: Sqlite<br />

Development Technique: Scaffold technique<br /></p>
