@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Seri Kembangan<br />
    Selangor, Malaysia<br />43300<br />
    <abbr title="Mobile">Mob:</abbr>
    0060-1128040699
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ahmed@alwasit4it.com">a.arawhani@gmail.com</a>
</address>