@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <h3> To Soding Task Manager System</h3>
    <p class="lead">Press the button below to go to the Task Manager</p>

    <p><a href="/Tasks" class="btn btn-primary btn-lg">Task Manager System</a></p>
</div>

